[submodule ".emacs.d"]
  path = .emacs.d
  url = git://github.com/binaryplease/dotemacs
[submodule "/home/binaryplease/.tmux/plugins/tpm"]
	path = /home/binaryplease/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".Xresources.d/base16-xresources"]
	path = .Xresources.d/base16-xresources
	url = git@github.com:binaryplease/base16-xresources.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:binaryplease/dotfiles-vim.git
