Xft*dpi:                141
Xft*antialias:          true
Xft*hinting:            full

! 256 color space

rofi.color-enabled: true
rofi.bg: #ff0000
rofi.modi: run,ssh,window
rofi.fullscreen: true
rofi.lines: 3
rofi.padding: 400
rofi.eh: 2
!rofi.fg: white
!rofi.fuzzy: true
!rofi.hlbg: #104a58
#include ".Xresources.d/colors"
#include ".Xresources.d/urxvt"
