! vi: ft=xdefaults


! General settings
Xft*dpi:                125
Xft*antialias:          true
Xft*hinting:            full

#include ".Xresources.d/colors"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
#include ".Xresources.d/st"
#include ".Xresources.d/emacs"

